@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&family=Poiret+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,900&family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar .logo img{
    height: 20px;
}

.navbar .nav_icon img{
    height: 20px;
    margin-left: 20px;
}

.navbar{
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

.navbar ul{
    display: flex;
    list-style: none;
}

.navbar ul li{
    margin-left: 40px;
    
}

.navbar ul li a{
    text-decoration: none;
}

.offers{
    padding-top: 30px;
    text-align: center;
    background-color: black;
    color: white;
    margin-top: 20px;
    padding-bottom: 10px;
}

.offers a{
    color: blue;
}

.back-video video{
    width: 100%;
}